backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    folder: "content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    editor:
     preview: true
    fields:
      - { label: "Template Key", name: "templateKey", widget: "hidden", default: "BlogPost" }
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Data de publicação", name: "date", widget: "datetime" }
      - { label: "Descrição", name: "description", widget: "string" }
      - { label: "URL", name: "url", widget: "string" }
      - { label: "Texto", name: "body", widget: "markdown" }
  - name: "pages"
    label: "Pages"
    editor:
      preview: true
    files:
      - file: "content/pages/about.md"
        label: "About Us"
        name: "page-about"
        fields:
          - { label: "Slug", name: "slug", widget: "hidden", default: "about" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "URL", name: "url", widget: "string" }
          - { label: "Text", name: "body", widget: "markdown" }

      - file: "content/pages/team.md"
        label: "Team"
        name: "page-team"
        fields:
          - { label: "Slug", name: "slug", widget: "hidden", default: "team" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "URL", name: "url", widget: "string" }
          - label: "Players"
            name: "players"
            widget: "list"
            summary: "{{fields.number}} - {{fields.name}} [{{fields.position}}]"
            fields:
              - label: "Number"
                name: "number"
                widget: "string"
              - label: "Name"
                name: "name"
                widget: "string"
              - label: "Position"
                name: "position"
                widget: "select"
                multiple: true
                options: ["QB", "HB", "FB", "RB", "TE", "WR", "OL", "OT", "OG", "C", "DL", "DT", "DE", "LB", "OLB", "MLB", "CB", "S", "FS", "SS", "P", "K", "PR", "KR"]
          - label: "Coaching Staff"
            name: "coaches"
            widget: "list"
            summary: "{{fields.type}} - {{fields.name}}"
            fields:
              - { label: "Job title", name: "type", widget: "string" }
              - { label: "Name", name: "name", widget: "string" }

      - file: "content/pages/schedule.md"
        label: "Schedule"
        name: "page-schedule"
        fields:
          - label: "Matches"
            name: "matches"
            widget: "list"
            summary: "{{fields.homeTeam}} {{fields.homeTeamScore}} x {{fields.awayTeamScore}} {{fields.awayTeam}}"
            fields:
              - { label: "Home Team", name: "homeTeam", widget: "string" }
              - { label: "Home Team Logo", name: "homeTeamIcon", widget: "image" }
              - { label: "Home Team Score", name: "homeTeamScore", widget: "number", default: 0, valueType: "int", min: 0, max: 200, step: 1 }
              - { label: "Away Team", name: "awayTeam", widget: "string" }
              - { label: "Away Team Logo", name: "awayTeamIcon", widget: "image" }
              - { label: "Away Team Score", name: "awayTeamScore", widget: "number", default: 0, valueType: "int", min: 0, max: 200, step: 1 }
              - { label: "League Name", name: "league", widget: "string" }
              - { label: "Date", name: "date", widget: "datetime" }
              - { label: "Stadium", name: "stadium", widget: "string" }

  - name: "widgets"
    label: "Widgets"
    files:
      - file: "content/widgets/menu.md"
        label: "Menu"
        name: "widget-menu"
        fields:
          - label: "Items"
            name: "items"
            widget: "list"
            summary: "{{fields.label}}"
            fields:
               - { label: "Label", name: "label", widget: "string" }
               - { label: "URL", name: "url", widget: "string" }

      - file: "content/widgets/hero.md"
        label: "Hero Banner"
        name: "widget-hero"
        fields:
          - { label: "Show Hero Banner", name: "showHero", widget: "boolean" }
          - { label: "Hero Image", name: "image", widget: "image" }
          - { label: "Hero Title", name: "title", widget: "string" }
          - { label: "Show Title", name: "showTitle", widget: "boolean" }

      - file: "content/widgets/social-profiles.md"
        label: "Social Profiles"
        name: "widget-social-profiles"
        fields:
          - label: "Profiles"
            name: "profiles"
            widget: "list"
            summary: "{{fields.platform}} - {{fields.url}}"
            fields:
              - label: "Platform"
                name: "platform"
                widget: "select"
                options: ["Facebook", "Instagram", "Twitter", "Youtube"]
              - { label: "URL", name: "url", widget: "string" }

      - file: "content/widgets/standings.md"
        label: "Standings"
        name: "widget-standings"
        fields:
          - label: "Teams"
            name: "teams"
            widget: "list"
            summary: "{{fields.position}} {{fields.name}}"
            fields:
              - { label: "# Position", name: "position", widget: "number", default: 0, valueType: "int", min: 0, max: 100, step: 1 }
              - { label: "Team Name", name: "name", widget: "string" }
              - { label: "Team Logo", name: "icon", widget: "image" }
              - { label: "Wins", name: "wins", widget: "number", default: 0, valueType: "int", min: 0, max: 100, step: 1 }
              - { label: "Losses", name: "losses", widget: "number", default: 0, valueType: "int", min: 0, max: 100, step: 1 }
              - { label: "Draws", name: "draws", widget: "number", default: 0, valueType: "int", min: 0, max: 100, step: 1 }

      - file: "content/widgets/recent-matches.md"
        label: "Recent Matches"
        name: "widget-recent-matches"
        fields:
          - label: "Recent Matches"
            name: "matches"
            widget: "list"
            summary: "{{fields.homeTeam}} {{fields.homeTeamScore}} x {{fields.awayTeamScore}} {{fields.awayTeam}}"
            fields:
              - { label: "Home Team", name: "homeTeam", widget: "string" }
              - { label: "Home Team Logo", name: "homeTeamIcon", widget: "image" }
              - { label: "Home Team Score", name: "homeTeamScore", widget: "number", default: 0, valueType: "int", min: 0, max: 200, step: 1 }
              - { label: "Away Team", name: "awayTeam", widget: "string" }
              - { label: "Away Team Logo", name: "awayTeamIcon", widget: "image" }
              - { label: "Away Team Score", name: "awayTeamScore", widget: "number", default: 0, valueType: "int", min: 0, max: 200, step: 1 }
              - { label: "League Name", name: "league", widget: "string" }
              - { label: "Date", name: "date", widget: "datetime" }
              - { label: "Stadium", name: "stadium", widget: "string" }
