backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    folder: "content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    editor:
     preview: true
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Data de publicação", name: "date", widget: "datetime" }
			- { label: "Descrição", name: "description", widget: "string" }
      - { label: "URL", name: "URL", widget: "string" }
      - { label: "Texto", name: "body", widget: "markdown" }
  - name: "pages"
    label: "Páginas"
    delete: false
    editor:
      preview: true
    files:
      - file: "content/pages/about.md"
        label: "Sobre nós"
        name: "about-page"
        fields:
          - { label: "Slug", name: "slug", widget: "hidden", default: "about" }
          - { label: "Título", name: "title", widget: "string" }
          - { label: "Texto", name: "body", widget: "markdown" }
