backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    folder: "content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    editor:
     preview: true
    fields:
      - { label: "Template Key", name: "templateKey", widget: "hidden", default: "BlogPost" }
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Data de publicação", name: "date", widget: "datetime" }
      - { label: "Descrição", name: "description", widget: "string" }
      - { label: "URL", name: "url", widget: "string" }
      - { label: "Texto", name: "body", widget: "markdown" }
  - name: "pages"
    label: "Páginas"
    delete: false
    editor:
      preview: true
    files:
      - file: "content/pages/about.md"
        label: "Sobre nós"
        name: "about-page"
        fields:
          - { label: "Slug", name: "slug", widget: "hidden", default: "about" }
          - { label: "Título", name: "title", widget: "string" }
          - { label: "URL", name: "url", widget: "string" }
          - { label: "Texto", name: "body", widget: "markdown" }
